<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui"
    />
    <title>曼巴烧烤</title>
    <link rel="icon" type="image/png" href="images/favicon.png?v=20260517-logo3" />
    <script src="./js/base.js?v=20260507-frontfix4"></script>
    <link rel="stylesheet" href="../backend/plugins/element-ui/index.css?v=20260507-frontfix4" />
    <link rel="stylesheet" href="styles/vant.min.css?v=20260507-frontfix4" />
    <link rel="stylesheet" href="styles/index.css?v=20260507-frontfix4" />
    <link rel="stylesheet" href="styles/main.css?v=20260507-frontfix4" />
  </head>
  <body>
    <div id="main" class="app">
      <div class="divHead">
        <img src="./images/user.png" @click="toUserPage" />
      </div>

      <div class="divTitle">
        <div class="divStatic">
          <img src="./images/logo.png?v=20260517-logo1" class="logo" />
          <div class="divDesc">
            <div class="divName">曼巴烧烤</div>
            <div class="divSend">
              <span><img src="./images/time.png" /> 距离1.5km</span>
              <span><img src="./images/money.png" /> 配送费6元</span>
              <span><img src="./images/location.png" /> 预计时长12min</span>
            </div>
          </div>
        </div>
        <div class="divDesc">
          简介：肘击拍肉，Man！又老又铁！。
        </div>
      </div>

      <div class="divBody">
        <div class="divType">
          <ul>
            <li
              v-for="(item,index) in categoryList"
              :key="index"
              @click="categoryClick(index,item.id,item.type)"
              :class="{active:activeType === index}"
            >
              {{item.name}}
            </li>
          </ul>
        </div>

        <div class="divMenu">
          <div>
            <div
              class="divItem"
              v-for="(item,index) in dishList"
              :key="index"
              @click="dishDetails(item)"
            >
              <el-image :src="imgPathConvert(item.image)">
                <div slot="error" class="image-slot">
                  <img src="./images/noImg.png" />
                </div>
              </el-image>
              <div>
                <div class="divName">{{item.name}}</div>
                <div class="divDesc">{{item.description}}</div>
                <div class="divDesc">{{'月销' + (item.saleNum ? item.saleNum : 0)}}</div>
                <div class="divBottom"><span>￥</span><span>{{item.price/100}}</span></div>
                <div class="divNum">
                  <div class="divSubtract" v-if="item.number > 0">
                    <img src="./images/subtract.png" @click.prevent.stop="subtractCart(item)" />
                  </div>
                  <div class="divDishNum">{{item.number}}</div>
                  <div
                    class="divTypes"
                    v-if="item.flavors && item.flavors.length > 0 && !item.number"
                    @click.prevent.stop="chooseFlavorClick(item)"
                  >
                    选择规格
                  </div>
                  <div class="divAdd" v-else>
                    <img src="./images/add.png" @click.prevent.stop="addCart(item)" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="divLayer">
        <div class="divLayerLeft"></div>
        <div class="divLayerRight"></div>
      </div>

      <div class="divCart" v-if="categoryList.length > 0">
        <div
          :class="{imgCartActive: cartData && cartData.length > 0, imgCart:!cartData || cartData.length<1}"
          @click="openCart"
        ></div>
        <div
          :class="{divGoodsNum:true, moreGoods:cartData && cartData.length > 99}"
          v-if="cartData && cartData.length > 0"
        >
          {{ goodsNum }}
        </div>
        <div class="divNum">
          <span>￥</span>
          <span>{{goodsPrice}}</span>
        </div>
        <div class="divPrice"></div>
        <div
          :class="{btnSubmitActive: cartData && cartData.length > 0, btnSubmit:!cartData || cartData.length<1}"
          @click="toAddOrderPage"
        >
          去结算
        </div>
      </div>

      <van-dialog
        v-model="dialogFlavor.show"
        :show-confirm-button="false"
        class="dialogFlavor"
        ref="flavorDialog"
      >
        <div class="dialogTitle">{{dialogFlavor.name}}</div>
        <div class="divContent">
          <div v-for="flavor in dialogFlavor.flavors" :key="flavor.id">
            <div class="divFlavorTitle">{{flavor.name}}</div>
            <span
              v-for="item in JSON.parse(flavor.value)"
              :key="item"
              @click="flavorClick(flavor,item)"
              :class="{spanActive:flavor.dishFlavor === item}"
            >
              {{item}}
            </span>
          </div>
        </div>
        <div class="divBottom">
          <div><span class="spanMoney">￥</span>{{dialogFlavor.price/100}}</div>
          <div @click="dialogFlavorAddCart">加入购物车</div>
        </div>
        <div class="divFlavorClose" @click="dialogFlavor.show = false">
          <img src="./images/close.png" />
        </div>
      </van-dialog>

      <van-popup
        v-model="cartDialogShow"
        position="bottom"
        :style="{ height: '50%' }"
        class="dialogCart"
      >
        <div class="divCartTitle">
          <div class="title">购物车</div>
          <div class="clear" @click="clearCart">
            <i class="el-icon-delete"></i> 清空
          </div>
        </div>
        <div class="divCartContent">
          <div v-for="item in cartData" :key="item.id" class="divCartItem">
            <el-image :src="imgPathConvert(item.image)">
              <div slot="error" class="image-slot">
                <img src="./images/noImg.png" />
              </div>
            </el-image>
            <div class="divDesc">
              <div class="name">{{item.name}}</div>
              <div class="price"><span class="spanMoney">￥</span>{{item.amount}}</div>
            </div>
            <div class="divNum">
              <div class="divSubtract">
                <img src="./images/subtract.png" @click="cartNumberSubtract(item)" />
              </div>
              <div class="divDishNum">{{item.number}}</div>
              <div class="divAdd">
                <img src="./images/add.png" @click="cartNumAdd(item)" />
              </div>
            </div>
            <div class="divSplit"></div>
          </div>
        </div>
      </van-popup>

      <van-dialog
        v-model="detailsDialog.show"
        :show-confirm-button="false"
        class="detailsDialog"
        ref="detailsDialog"
        v-if="detailsDialog.show"
      >
        <div class="divContainer">
          <el-image :src="imgPathConvert(detailsDialog.item.image)">
            <div slot="error" class="image-slot">
              <img src="./images/noImg.png" />
            </div>
          </el-image>
          <div class="title">{{detailsDialog.item.name}}</div>
          <div class="content">{{detailsDialog.item.description}}</div>
        </div>
        <div class="divNum">
          <div class="left"><span>￥</span><span>{{detailsDialog.item.price/100}}</span></div>
          <div class="right">
            <div class="divSubtract" v-if="detailsDialog.item.number > 0">
              <img src="./images/subtract.png" @click="subtractCart(detailsDialog.item)" />
            </div>
            <div class="divDishNum">{{detailsDialog.item.number}}</div>
            <div
              class="divTypes"
              v-if="detailsDialog.item.flavors && detailsDialog.item.flavors.length > 0 && !detailsDialog.item.number"
              @click="chooseFlavorClick(detailsDialog.item)"
            >
              选择规格
            </div>
            <div class="divAdd" v-else>
              <img src="./images/add.png" @click="addCart(detailsDialog.item)" />
            </div>
          </div>
        </div>
        <div class="detailsDialogClose" @click="detailsDialog.show = false">
          <img src="./images/close.png" />
        </div>
      </van-dialog>

      <van-dialog
        v-model="setMealDialog.show"
        :show-confirm-button="false"
        class="setMealDetailsDialog"
        ref="setMealDetailsDialogd"
        v-if="setMealDialog.show"
      >
        <div class="divContainer">
          <div class="title">{{setMealDialog.item.name}}</div>
          <div class="item" v-for="(item,index) in setMealDialog.item.list" :key="index">
            <el-image :src="imgPathConvert(item.image)">
              <div slot="error" class="image-slot">
                <img src="./images/noImg.png" />
              </div>
            </el-image>
            <div class="divSubTitle">
              {{item.name + '(' + item.copies + '份)'}}
              <div class="divPrice"><span>￥</span><span>{{item.price/100}}</span></div>
            </div>
            <div class="content">{{item.description}}</div>
          </div>
        </div>
        <div class="divNum">
          <div class="left"><span>￥</span><span>{{setMealDialog.item.price/100}}</span></div>
          <div class="right">
            <div class="divSubtract" v-if="setMealDialog.item.number > 0">
              <img src="./images/subtract.png" @click="subtractCart(setMealDialog.item)" />
            </div>
            <div class="divDishNum">{{setMealDialog.item.number}}</div>
            <div class="divAdd" v-if="setMealDialog.item.number">
              <img src="./images/add.png" @click="addCart(setMealDialog.item)" />
            </div>
            <div class="addCart" @click="addCart(setMealDialog.item)" v-if="!setMealDialog.item.number">
              加入购物车
            </div>
          </div>
        </div>
        <div class="detailsDialogClose" @click="setMealDialog.show = false">
          <img src="./images/close.png" />
        </div>
      </van-dialog>
    </div>

    <script src="../backend/plugins/vue/vue.js?v=20260507-frontfix4"></script>
    <script src="../backend/plugins/element-ui/index.js?v=20260507-frontfix4"></script>
    <script src="./js/vant.min.js?v=20260507-frontfix4"></script>
    <script src="../backend/plugins/axios/axios.min.js?v=20260507-frontfix4"></script>
    <script src="./js/request.js?v=20260507-frontfix4"></script>
    <script src="./js/common.js?v=20260507-frontfix4"></script>
    <script src="./api/main.js?v=20260507-frontfix4"></script>

    <script>
      new Vue({
        el: "#main",
        data() {
          return {
            activeType: 0,
            categoryList: [],
            categoryId: undefined,
            dishList: [],
            cartData: [],
            dialogFlavor: {
              name: "",
              flavors: [],
              dishId: undefined,
              price: undefined,
              show: false,
              image: "",
            },
            cartDialogShow: false,
            detailsDialog: {
              show: false,
              item: { image: "" },
            },
            setMealDialog: {
              show: false,
              item: {},
            },
          };
        },
        computed: {
          goodsNum() {
            let num = 0;
            this.cartData.forEach((item) => {
              num += item.number;
            });
            return num < 99 ? num : "99+";
          },
          goodsPrice() {
            let price = 0;
            this.cartData.forEach((item) => {
              price += item.number * item.amount;
            });
            return price;
          },
        },
        watch: {
          "dialogFlavor.show"(flag) {
            const cart = document.querySelector(".divCart");
            if (!cart) {
              return;
            }
            cart.style.zIndex = flag ? 1 : 3000;
          },
        },
        mounted() {
          this.initData();
        },
        methods: {
          initData() {
            Promise.allSettled([categoryListApi(), cartListApi({})]).then((results) => {
              const categoryRes = results[0];
              const cartRes = results[1];

              if (
                categoryRes &&
                categoryRes.status === "fulfilled" &&
                categoryRes.value &&
                categoryRes.value.code === 1
              ) {
                this.categoryList = categoryRes.value.data || [];
                if (this.categoryList.length > 0) {
                  this.categoryId = this.categoryList[0].id;
                  if (String(this.categoryList[0].type) === "1") {
                    this.getDishList();
                  } else {
                    this.getSetmealData();
                  }
                }
              } else {
                const msg =
                  (categoryRes &&
                    categoryRes.status === "fulfilled" &&
                    categoryRes.value &&
                    categoryRes.value.msg) ||
                  "获取分类失败";
                this.$notify({ type: "warning", message: msg });
              }

              if (
                cartRes &&
                cartRes.status === "fulfilled" &&
                cartRes.value &&
                cartRes.value.code === 1
              ) {
                this.cartData = cartRes.value.data || [];
              } else {
                this.cartData = [];
              }
            });
          },
          categoryClick(index, id, type) {
            this.activeType = index;
            this.categoryId = id;
            if (type === 1) {
              this.getDishList();
            } else {
              this.getSetmealData();
            }
          },
          async getDishList() {
            if (!this.categoryId) {
              return;
            }
            const res = await dishListApi({ categoryId: this.categoryId, status: 1 });
            if (res.code === 1) {
              const dishList = res.data;
              const cartData = this.cartData;
              if (dishList.length > 0 && cartData.length > 0) {
                dishList.forEach((dish) => {
                  cartData.forEach((cart) => {
                    if (dish.id === cart.dishId) {
                      dish.number = cart.number;
                    }
                  });
                });
              }
              this.dishList = dishList;
            } else {
              this.$notify({ type: "warning", message: res.msg });
            }
          },
          async getSetmealData() {
            if (!this.categoryId) {
              return;
            }
            const res = await setmealListApi({ categoryId: this.categoryId, status: 1 });
            if (res.code === 1) {
              const dishList = res.data;
              const cartData = this.cartData;
              if (dishList.length > 0 && cartData.length > 0) {
                dishList.forEach((dish) => {
                  cartData.forEach((cart) => {
                    if (dish.id === cart.setmealId) {
                      dish.number = cart.number;
                    }
                  });
                });
              }
              this.dishList = dishList;
            } else {
              this.$notify({ type: "warning", message: res.msg });
            }
          },
          async getCartData() {
            const res = await cartListApi({});
            if (res.code === 1) {
              this.cartData = res.data;
            } else {
              this.$notify({ type: "warning", message: res.msg });
            }
          },
          async addCart(item) {
            const params = {
              amount: item.price / 100,
              dishFlavor: item.dishFlavor,
              dishId: Array.isArray(item.flavors) ? item.id : undefined,
              setmealId: Array.isArray(item.flavors) ? undefined : item.id,
              name: item.name,
              image: item.image,
            };
            const res = await addCartApi(params);
            if (res.code === 1) {
              this.dishList.forEach((dish) => {
                if (dish.id === item.id) {
                  dish.number = res.data.number;
                }
              });
              if (this.setMealDialog.show) {
                item.number = res.data.number;
              }
              this.getCartData();
            } else {
              this.$notify({ type: "warning", message: res.msg });
            }
          },
          async subtractCart(item) {
            let params = { dishId: item.id };
            if (!Array.isArray(item.flavors)) {
              params = { setmealId: item.id };
            }
            const res = await updateCartApi(params);
            if (res.code === 1) {
              this.dishList.forEach((dish) => {
                if (dish.id === item.id) {
                  dish.number = res.data.number === 0 ? undefined : res.data.number;
                }
              });
              if (this.setMealDialog.show) {
                item.number = res.data.number === 0 ? undefined : res.data.number;
              }
              this.getCartData();
            } else {
              this.$notify({ type: "warning", message: res.msg });
            }
          },
          openCart() {
            if (this.cartData.length > 0) {
              this.cartDialogShow = true;
            }
          },
          async cartNumAdd(item) {
            const params = {
              amount: item.amount,
              dishFlavor: item.dishFlavor,
              dishId: item.dishId,
              setmealId: item.setmealId,
              name: item.name,
              image: item.image,
            };
            const res = await addCartApi(params);
            if (res.code === 1) {
              this.dishList.forEach((dish) => {
                if (dish.id === (item.dishId || item.setmealId)) {
                  dish.number = res.data.number;
                }
              });
              this.getCartData();
            } else {
              this.$notify({ type: "warning", message: res.msg });
            }
          },
          async cartNumberSubtract(item) {
            const params = {
              dishId: item.dishId,
              setmealId: item.setmealId,
            };
            const res = await updateCartApi(params);
            if (res.code === 1) {
              this.dishList.forEach((dish) => {
                if (dish.id === (item.dishId || item.setmealId)) {
                  dish.number = res.data.number === 0 ? undefined : res.data.number;
                }
              });
              this.getCartData();
            } else {
              this.$notify({ type: "warning", message: res.msg });
            }
          },
          async clearCart() {
            const res = await clearCartApi();
            if (res.code === 1) {
              this.dishList.forEach((ele) => {
                ele.number = undefined;
              });
              this.cartData = [];
              this.cartDialogShow = false;
            } else {
              this.$notify({ type: "warning", message: res.msg });
            }
          },
          chooseFlavorClick(item) {
            this.dialogFlavor = {
              name: item.name,
              flavors: item.flavors,
              dishId: item.id,
              price: item.price,
              show: true,
              image: item.image,
            };
          },
          flavorClick(flavor, item) {
            flavor.dishFlavor = item;
            this.dialogFlavor.show = false;
            this.dialogFlavor.show = true;
          },
          dialogFlavorAddCart() {
            const dialogFlavor = this.dialogFlavor;
            let flag = true;
            const dishFlavor = [];
            dialogFlavor.flavors.forEach((item) => {
              if (item.dishFlavor) {
                dishFlavor.push(item.dishFlavor);
              } else {
                flag = false;
                Notify({ type: "warning", message: "请选择" + item.name });
              }
            });
            if (flag) {
              this.addCart({
                price: dialogFlavor.price,
                dishFlavor: dishFlavor.join(","),
                id: dialogFlavor.dishId,
                flavors: [],
                image: dialogFlavor.image,
                name: dialogFlavor.name,
              });
              this.dialogFlavor.show = false;
            }
          },
          imgPathConvert(path) {
            return imgPath(path);
          },
          toAddOrderPage() {
            if (this.cartData.length > 0) {
              window.requestAnimationFrame(() => {
                window.location.href = "/front/page/add-order.html?v=20260507-frontfix4";
              });
            }
          },
          toUserPage() {
            window.requestAnimationFrame(() => {
              window.location.href = "/front/page/user.html?v=20260507-frontfix4";
            });
          },
          async dishDetails(item) {
            this.detailsDialog.item = {};
            this.setMealDialog.item = {};
            if (Array.isArray(item.flavors)) {
              this.detailsDialog.item = item;
              this.detailsDialog.show = true;
            } else {
              const res = await setMealDishDetailsApi(item.id);
              if (res.code === 1) {
                this.setMealDialog.item = { ...item, list: res.data };
                this.setMealDialog.show = true;
              } else {
                this.$notify({ type: "warning", message: res.msg });
              }
            }
          },
        },
      });
    </script>
  </body>
</html>
