<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui"
    />
    <title>曼巴烧烤</title>
    <link rel="icon" type="image/png" href="./../images/favicon.png?v=20260517-logo3" />
    <script src="./../js/base.js?v=20260506-fixall1"></script>
    <link rel="stylesheet" href="../../backend/plugins/element-ui/index.css?v=20260506-fixall1" />
    <link rel="stylesheet" href="../styles/vant.min.css?v=20260506-fixall1" />
    <link rel="stylesheet" href="../styles/index.css?v=20260506-fixall1" />
    <link rel="stylesheet" href="./../styles/add-order.css" />
  </head>
  <body>
    <div id="add_order" class="app">
      <div class="divHead">
        <div class="divTitle">
          <i class="el-icon-arrow-left" @click="goBack"></i>确认订单
        </div>
      </div>
      <div class="divContent">
        <div class="divAddress">
          <div @click="toAddressPage">
            <div class="address">{{ address.detail }}</div>
            <div class="name">
              <span>{{ address.consignee }}{{ address.sex === '1' ? '先生' : '女士' }}</span>
              <span>{{ address.phone }}</span>
            </div>
            <i class="el-icon-arrow-right"></i>
          </div>
          <div class="divSplit"></div>
          <div class="divFinishTime">预计{{ finishTime }}送达</div>
        </div>

        <div class="order">
          <div class="title">订单明细</div>
          <div class="divSplit"></div>
          <div class="itemList">
            <div class="item" v-for="(item,index) in cartData" :key="index">
              <el-image :src="imgPathConvert(item.image)">
                <div slot="error" class="image-slot">
                  <img src="./../images/noImg.png" />
                </div>
              </el-image>
              <div class="desc">
                <div class="name">{{ item.name }}</div>
                <div class="numPrice">
                  <span class="num">x{{ item.number }}</span>
                  <div class="price"><span class="spanMoney">￥</span>{{ item.amount }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="note">
          <div class="title">备注</div>
          <van-field
            v-model="note"
            rows="2"
            autosize
            type="textarea"
            maxlength="50"
            placeholder="请输入您需要备注的信息"
            show-word-limit
          />
        </div>
      </div>

      <div class="divCart">
        <div :class="{ imgCartActive: cartData.length > 0, imgCart: cartData.length < 1 }"></div>
        <div :class="{ divGoodsNum: true, moreGoods: cartData.length > 99 }" v-if="cartData.length > 0">
          {{ goodsNum }}
        </div>
        <div class="divNum">
          <span>￥</span>
          <span>{{ goodsPrice }}</span>
        </div>
        <div class="divPrice"></div>
        <div
          :class="{ btnSubmitActive: cartData.length > 0, btnSubmit: cartData.length < 1 }"
          @click="goToPaySuccess"
        >
          去支付
        </div>
      </div>
    </div>

    <script src="../../backend/plugins/vue/vue.js?v=20260506-fixall1"></script>
    <script src="../../backend/plugins/element-ui/index.js?v=20260506-fixall1"></script>
    <script src="./../js/vant.min.js?v=20260506-fixall1"></script>
    <script src="./../api/address.js?v=20260506-fixall1"></script>
    <script src="../../backend/plugins/axios/axios.min.js?v=20260506-fixall1"></script>
    <script src="./../js/request.js?v=20260506-fixall1"></script>
    <script src="./../js/common.js?v=20260506-fixall1"></script>
    <script src="./../api/main.js?v=20260506-fixall1"></script>
    <script src="./../api/order.js?v=20260506-fixall1"></script>
    <script>
      const PAGE_VERSION = "20260506-fixall1";

      new Vue({
        el: "#add_order",
        data() {
          return {
            address: {
              phone: "",
              consignee: "",
              detail: "",
              sex: "1",
              id: undefined,
            },
            finishTime: "",
            cartData: [],
            note: "",
          };
        },
        computed: {
          goodsNum() {
            let num = 0;
            this.cartData.forEach((item) => {
              num += item.number;
            });
            return num < 99 ? num : "99+";
          },
          goodsPrice() {
            let price = 0;
            this.cartData.forEach((item) => {
              price += item.number * item.amount;
            });
            return price;
          },
        },
        created() {
          this.initData();
        },
        methods: {
          isSuccess(res) {
            return !!res && (res.code === 1 || res.code === "1");
          },
          goBack() {
            history.go(-1);
          },
          initData() {
            this.defaultAddress();
            this.getCartData();
          },
          async defaultAddress() {
            try {
              const res = await getDefaultAddressApi();
              if (this.isSuccess(res)) {
                this.address = res.data || this.address;
                this.getFinishTime();
                return;
              }
              window.requestAnimationFrame(() => {
                window.location.href = "/front/page/address-edit.html?v=" + PAGE_VERSION;
              });
            } catch (error) {
              window.requestAnimationFrame(() => {
                window.location.href = "/front/page/address-edit.html?v=" + PAGE_VERSION;
              });
            }
          },
          getFinishTime() {
            const now = new Date();
            let hour = now.getHours() + 1;
            let minute = now.getMinutes();
            if (hour.toString().length < 2) {
              hour = "0" + hour;
            }
            if (minute.toString().length < 2) {
              minute = "0" + minute;
            }
            this.finishTime = hour + ":" + minute;
          },
          toAddressPage() {
            window.requestAnimationFrame(() => {
              window.location.href = "/front/page/address.html?v=" + PAGE_VERSION;
            });
          },
          async getCartData() {
            try {
              const res = await cartListApi({});
              if (this.isSuccess(res)) {
                this.cartData = res.data || [];
                return;
              }
              this.$notify({ type: "warning", message: res.msg || "获取购物车失败" });
            } catch (error) {
              this.cartData = [];
            }
          },
          async goToPaySuccess() {
            if (!this.address.id) {
              this.$notify({ type: "warning", message: "请先选择收货地址" });
              return;
            }
            const params = {
              remark: this.note,
              payMethod: 1,
              addressBookId: this.address.id,
            };
            try {
              const res = await addOrderApi(params);
              if (this.isSuccess(res)) {
                window.requestAnimationFrame(() => {
                  window.location.replace("/front/page/pay-success.html?v=" + PAGE_VERSION);
                });
                return;
              }
              this.$notify({ type: "warning", message: res.msg || "提交订单失败" });
            } catch (error) {}
          },
          imgPathConvert(path) {
            return imgPath(path);
          },
        },
      });
    </script>
  </body>
</html>
