<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui"
    />
    <title>曼巴烧烤</title>
    <link rel="icon" type="image/png" href="./../images/favicon.png?v=20260517-logo3" />
    <script src="./../js/base.js?v=20260507-frontfix3"></script>
    <link rel="stylesheet" href="../../backend/plugins/element-ui/index.css?v=20260507-frontfix3" />
    <link rel="stylesheet" href="../styles/vant.min.css?v=20260507-frontfix3" />
    <link rel="stylesheet" href="../styles/index.css?v=20260507-frontfix3" />
    <link rel="stylesheet" href="./../styles/address.css" />
  </head>
  <body>
    <div id="address" class="app">
      <div class="divHead">
        <div class="divTitle">
          <i class="el-icon-arrow-left" @click="goBack"></i>地址管理
        </div>
      </div>
      <div class="divContent">
        <div class="divItem" v-for="(item,index) in addressList" :key="index" @click.capture="itemClick(item)">
          <div class="divAddress">
            <span
              :class="{
                spanCompany: item.label === '公司',
                spanHome: item.label === '家',
                spanSchool: item.label === '学校'
              }"
            >{{ item.label }}</span>
            {{ item.detail }}
          </div>
          <div class="divUserPhone">
            <span>{{ item.consignee }}</span>
            <span>{{ item.sex === '0' ? '女士' : '先生' }}</span>
            <span>{{ item.phone }}</span>
          </div>
          <img src="./../images/edit.png" @click.stop.prevent="toAddressEditPage(item)" />
          <div class="divSplit"></div>
          <div class="divDefault">
            <img src="./../images/checked_true.png" v-if="item.isDefault === 1" />
            <img src="./../images/checked_false.png" @click.stop.prevent="setDefaultAddress(item)" v-else />
            设为默认地址
          </div>
        </div>
      </div>
      <div class="divBottom" @click="toAddressCreatePage">+ 添加收货地址</div>
    </div>

    <script src="../../backend/plugins/vue/vue.js?v=20260507-frontfix3"></script>
    <script src="../../backend/plugins/element-ui/index.js?v=20260507-frontfix3"></script>
    <script src="./../js/vant.min.js?v=20260507-frontfix3"></script>
    <script src="./../api/address.js?v=20260507-frontfix3"></script>
    <script src="../../backend/plugins/axios/axios.min.js?v=20260507-frontfix3"></script>
    <script src="./../js/request.js?v=20260507-frontfix3"></script>
    <script>
      const PAGE_VERSION = "20260507-frontfix3";

      new Vue({
        el: "#address",
        data() {
          return {
            addressList: [],
          };
        },
        created() {
          this.initData();
        },
        methods: {
          isSuccess(res) {
            return !!res && (res.code === 1 || res.code === "1");
          },
          goBack() {
            history.go(-1);
          },
          toAddressEditPage(item) {
            window.requestAnimationFrame(() => {
              window.location.href =
                "/front/page/address-edit.html?v=" + PAGE_VERSION + "&id=" + item.id;
            });
          },
          toAddressCreatePage() {
            window.requestAnimationFrame(() => {
              window.location.href = "/front/page/address-edit.html?v=" + PAGE_VERSION;
            });
          },
          async initData() {
            try {
              const res = await addressListApi();
              if (this.isSuccess(res)) {
                this.addressList = res.data || [];
                return;
              }
              this.$message.error(res.msg || "获取地址失败");
            } catch (error) {}
          },
          async setDefaultAddress(item) {
            if (!item.id) {
              return;
            }
            try {
              const res = await setDefaultAddressApi({ id: item.id });
              if (this.isSuccess(res)) {
                this.initData();
                return;
              }
              this.$message.error(res.msg || "设置默认地址失败");
            } catch (error) {}
          },
          itemClick(item) {
            const url = document.referrer || "";
            if (url.includes("order") || url.includes("add-order")) {
              this.setDefaultAddress(item);
              history.go(-1);
            }
          },
        },
      });
    </script>
  </body>
</html>
