<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui"
    />
    <title>曼巴烧烤</title>
    <link rel="icon" type="image/png" href="./../images/favicon.png?v=20260517-logo3" />
    <script src="./../js/base.js?v=20260507-frontfix4"></script>
    <link rel="stylesheet" href="../../backend/plugins/element-ui/index.css?v=20260507-frontfix4" />
    <link rel="stylesheet" href="../styles/index.css?v=20260507-frontfix4" />
    <link rel="stylesheet" href="../styles/vant.min.css?v=20260507-frontfix4" />
    <link rel="stylesheet" href="./../styles/user.css?v=20260507-frontfix4" />
  </head>
  <body>
    <div id="user" class="app">
      <div class="divHead">
        <div class="divTitle">
          <i class="el-icon-arrow-left" @click="goBack"></i>个人中心
        </div>
        <div class="divUser">
          <img src="./../images/headPage.png" />
          <div class="desc">
            <div class="divName">{{ displayName }}<img src="./../images/women.png" /></div>
            <div class="divPhone">{{ userContact }}</div>
          </div>
        </div>
      </div>
      <div class="divContent">
        <div class="divLinks">
          <div class="item" @click="toAddressPage">
            <img src="./../images/locations.png" />
            <div class="linkText">地址管理</div>
            <div class="linkArrow">&gt;</div>
          </div>
          <div class="divSplit"></div>
          <div class="item" @click="toOrderPage">
            <img src="./../images/orders.png" />
            <div class="linkText">历史订单</div>
            <div class="linkArrow">&gt;</div>
          </div>
        </div>

        <div class="divOrders">
          <div class="title">最新订单</div>
          <template v-if="latestOrder">
            <div class="timeStatus">
              <span>{{ latestOrder.orderTime }}</span>
              <span>{{ getStatus(latestOrder.status) }}</span>
            </div>
            <div class="dishList">
              <div v-for="(item,index) in latestOrder.orderDetails" :key="index" class="item">
                <span>{{ item.name }}</span>
                <span>x{{ item.number }}</span>
              </div>
            </div>
            <div class="result">
              <span>共{{ latestOrder.sumNum }} 件商品，实付</span>
              <span class="price">￥{{ latestOrder.amount }}</span>
            </div>
            <div class="btn" v-if="String(latestOrder.status) === '4'">
              <div class="btnAgain" @click="addOrderAgain">再来一单</div>
            </div>
          </template>
          <div v-else class="emptyOrder">暂无订单</div>
        </div>

        <div class="quitLogin" @click="toPageLogin">退出登录</div>
      </div>
    </div>

    <script src="../../backend/plugins/vue/vue.js?v=20260507-frontfix4"></script>
    <script src="../../backend/plugins/element-ui/index.js?v=20260507-frontfix4"></script>
    <script src="./../js/vant.min.js?v=20260507-frontfix4"></script>
    <script src="../../backend/plugins/axios/axios.min.js?v=20260507-frontfix4"></script>
    <script src="./../js/request.js?v=20260507-frontfix4"></script>
    <script src="./../api/order.js?v=20260507-frontfix4"></script>
    <script src="./../api/login.js?v=20260507-frontfix4"></script>
    <script>
      const PAGE_VERSION = "20260507-frontfix4";

      new Vue({
        el: "#user",
        data() {
          return {
            latestOrder: null,
            userContact: "",
            displayName: "欢迎回来",
          };
        },
        created() {
          this.userContact =
            sessionStorage.getItem("userEmail") || sessionStorage.getItem("userPhone") || "";
          const savedName = sessionStorage.getItem("userName");
          if (savedName) {
            this.displayName = savedName;
          }
          this.getLatestOrder();
        },
        methods: {
          isSuccess(res) {
            return !!res && (res.code === 1 || res.code === "1");
          },
          goBack() {
            history.go(-1);
          },
          toAddressPage() {
            window.requestAnimationFrame(() => {
              window.location.href = "/front/page/address.html?v=" + PAGE_VERSION;
            });
          },
          toOrderPage() {
            window.requestAnimationFrame(() => {
              window.location.href = "/front/page/order.html?v=" + PAGE_VERSION;
            });
          },
          async getLatestOrder() {
            try {
              const res = await orderPagingApi({
                page: 1,
                pageSize: 1,
              });
              if (this.isSuccess(res)) {
                const records = (res.data && res.data.records) || [];
                if (records[0]) {
                  const order = records[0];
                  let number = 0;
                  (order.orderDetails || []).forEach((item) => {
                    number += item.number;
                  });
                  order.sumNum = number;
                  this.latestOrder = order;
                } else {
                  this.latestOrder = null;
                }
                return;
              }
              this.$notify({ type: "warning", message: res.msg || "获取订单失败" });
            } catch (error) {
              this.latestOrder = null;
            }
          },
          getStatus(status) {
            switch (String(status)) {
              case "1":
                return "待付款";
              case "2":
                return "正在派送";
              case "3":
                return "已派送";
              case "4":
                return "已完成";
              case "5":
                return "已取消";
              default:
                return "";
            }
          },
          async addOrderAgain() {
            if (!this.latestOrder) {
              return;
            }
            try {
              const res = await orderAgainApi({ id: this.latestOrder.id });
              if (this.isSuccess(res)) {
                window.requestAnimationFrame(() => {
                  window.location.href = "/front/index.html?v=" + PAGE_VERSION;
                });
                return;
              }
              this.$notify({ type: "warning", message: res.msg || "操作失败" });
            } catch (error) {}
          },
          async toPageLogin() {
            try {
              const res = await loginoutApi();
              if (this.isSuccess(res)) {
                sessionStorage.removeItem("userEmail");
                sessionStorage.removeItem("userPhone");
                sessionStorage.removeItem("userName");
                window.requestAnimationFrame(() => {
                  window.location.href = "/front/page/login.html?v=" + PAGE_VERSION;
                });
                return;
              }
              this.$notify({ type: "warning", message: res.msg || "退出失败" });
            } catch (error) {}
          },
        },
      });
    </script>
  </body>
</html>
